@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  display: none;
}
.App {
  height: 100vh;
  max-height: 100vh;
  overflow: scroll;
  background-image: url('image/bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
.homeItemBg {
  background-image: url('image/homebg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
.swapItemBg {
  background-image: url('image/swapbg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
.navBg {
  height: 350px;
  background-image: url('image/navBg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
.main {
  max-width: 480px;
  margin: 0 auto;
  padding-top: 100px;
}
.navCardSelect {
  background: linear-gradient(88deg, #F766CC 0%, #009CFF 99%);
}
.borderSelectToken {
  border-radius: 12px;
  border: solid 1px transparent;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#F766CC, #009CFF);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.tradeButton {
  border-radius: 40px;
  font-family: Adobe Heiti Std;
  font-weight: normal;
  text-align: center;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(88deg, #F766CC 0%, #009CFF 99%);
}
.tradeButtonGray {
  background: #ccc;
  border-radius: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}
.ant-drawer-body {
  padding: 0px !important;
}
@media screen and (max-width: 470px) {
  .tokenCyPop {
    margin: 0px !important;
    max-width: 98vw !important;
    vertical-align: bottom !important;
  }
  .tokenCyPop .ant-modal-content {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .tokenCyPop .ant-modal-body {
    padding: 0px !important;
  }
}
@media screen and (min-width: 470px) {
  .tokenCyPop {
    margin: 0px !important;
    width: 400px !important;
  }
  .tokenCyPop .ant-modal-content {
    border-radius: 18px;
  }
  .tokenCyPop .ant-modal-body {
    padding: 0px !important;
  }
}
